@import "../partials/colors";

footer{
    .topfooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #00cba9;
        padding: 1.5%;
        color: #fff;
        .sect1{
            ul {
                list-style: none;
                padding-left: 0;
                li{
                    padding: 5px;
                    a{
                        text-decoration: none;
                        color: #3e27ec;
                        &:hover {
                            color: #d63031;
                        }
                    }
                }
            }
        }
        .sect2{
            ul {
                list-style: none;
                padding-left: 0;
                li{
                    padding: 5px;
                    a{
                        text-decoration: none;
                        color: #3e27ec;
                        &:hover {
                            color: #d63031;
                        }
                    }
                }
            }
        }
    }
    .footer {
        background-color: $footer-color;
        padding: 0.8rem 0;

        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: #fff;
        }
    }
}